<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>布局页测试</h1>
    <div style="padding:20px;border:solid medium black;font-size:20pt">
        @RenderBody()
    </div>
    <h2>更多信息：<a href="~/About/Index">关于本站</a></h2>
</body>
</html>
