@model Domain.About

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>关于本站</title>
</head>
<body>
    <div class="text-center"><label class="text-center">制作者：@Model.Producer</label></div>
    <br />
    <div class="text-center"><label class="text-center">地址：@Model.Address</label></div>
    <br />
    <div class="text-center"><label class="text-center">联系电话：@Model.Phone</label></div>
</body>
</html>
